nav{
	background: #E41224;
	text-align: center;
}

nav ul li{
	display: inline;
	font: 15px Helvetica, Arial, sans-serif;
}

nav ul{
	display: inline-block;
	list-style: none;
}

nav ul li a {
	color: #ffffff;
	padding: 35px 35px 35px 35px;
	text-decoration: none;
	font-family: "Times New Roman", Times, serif;
}

p {
	line-height: 2;
	position: relative;
}

h1 {
	font-family: Arial, "MS Trebuchet", sans-serif;
	color: #E41224;
	position: relative;
	right: -1325px;
}

a:hover {
	background-color: #E94C59;
	display: inline-block;
	padding: 10px;
}

